body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    position: relative;
    top: 150px;
    border: 1px solid black;
    width: 24%;
    left: 38.5%;
    padding-bottom: 400px;
    border-radius: 30px;
    padding-top: 20px;
    background-color: black;
    color: white;
}
form {
    margin: 20px;
    position: relative;
}

label {
    font-weight: bold;
    position: relative;
    color: white;
    bottom: 130px;
    left: 5.5%;
    font-size: 22px;
}

input {
    position: relative;
    bottom: 80px;
    right: 5.9%;
}

button {
    position: relative;
    border-radius: 9px;
    padding-left: 30px;
    padding-right: 30px;
    right: 10.7%;
    bottom: 30px;
    background-color: green;
    color: white;
}

#msg {
    margin: 20px;
    font-weight: bold;
    position: relative;
    left: 1%;
}
